# Auto detect text files and perform LF normalization
* text=auto
UnityProject/Assets/Scenes/Dungeon1/LightingData.asset filter=lfs diff=lfs merge=lfs -text
UnityProject/Assets/Scenes/Dungeon3.unity filter=lfs diff=lfs merge=lfs -text
UnityProject/Assets/Scenes/OverWorld.unity filter=lfs diff=lfs merge=lfs -text
UnityProject/Assets/Scenes/GhostShip/LightingData.asset filter=lfs diff=lfs merge=lfs -text
UnityProject/Assets/Scenes/OverWorld/OcclusionCullingData.asset filter=lfs diff=lfs merge=lfs -text
UnityProject/Assets/Scenes/MainMenu/OcclusionCullingData.asset filter=lfs diff=lfs merge=lfs -text
UnityProject/Assets/Scenes/Temple1/LightingData.asset filter=lfs diff=lfs merge=lfs -text
UnityProject/Assets/Scenes/Temple1.unity filter=lfs diff=lfs merge=lfs -text
UnityProject/Assets/Scenes/ProtoType.unity filter=lfs diff=lfs merge=lfs -text
UnityProject/Assets/Scenes/GhostShip.unity filter=lfs diff=lfs merge=lfs -text
